.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ff0303 !important;
}
.bg-success {
  background-color: #f7f7f7 !important;
}
.bg-info {
  background-color: #000000 !important;
}
.bg-warning {
  background-color: #ff7d19 !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff0303 !important;
  border-color: #ff0303 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #ff3636 !important;
  border-color: #ff3636 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ff3636 !important;
  border-color: #ff3636 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff0303 !important;
  border-color: #ff0303 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ff3636 !important;
  border-color: #ff3636 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff3636 !important;
  border-color: #ff3636 !important;
}
.btn-info,
.btn-info:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
  color: #787878 !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #787878 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ff7d19 !important;
  border-color: #ff7d19 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ff9a4c !important;
  border-color: #ff9a4c !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ff9a4c !important;
  border-color: #ff9a4c !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ff0303;
  color: #ff0303;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ab0000 !important;
  background-color: transparent !important;
  border-color: #ab0000 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff0303 !important;
  border-color: #ff0303 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff0303;
  color: #ff0303;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ab0000 !important;
  background-color: transparent !important;
  border-color: #ab0000 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff0303 !important;
  border-color: #ff0303 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #f7f7f7;
  color: #f7f7f7;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #cccccc !important;
  background-color: transparent !important;
  border-color: #cccccc !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #787878 !important;
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ff7d19;
  color: #ff7d19;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #c15400 !important;
  background-color: transparent !important;
  border-color: #c15400 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ff7d19 !important;
  border-color: #ff7d19 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ff0303 !important;
}
.text-secondary {
  color: #ff0303 !important;
}
.text-success {
  color: #f7f7f7 !important;
}
.text-info {
  color: #000000 !important;
}
.text-warning {
  color: #ff7d19 !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #9c0000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #9c0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #c4c4c4 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #b24d00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #cccccc !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ff0303;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #000000;
}
.alert-warning {
  background-color: #ff7d19;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff0303;
  border-color: #ff0303;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ff0303;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffcfcf;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff0e5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ff0303 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #ff0303;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff0303;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ff0303;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff0303;
  border-bottom-color: #ff0303;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ff0303 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff0303 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff0303' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-uEudm3kYml {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-uEudm3kYml .content-head {
  max-width: 800px;
}
.cid-uEuA4czAIU {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uEuA4czAIU .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEuA4czAIU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uEuA4czAIU .item-wrapper {
  display: flex;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uEuA4czAIU .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uEuA4czAIU .mbr-section-title {
  text-align: center;
}
.cid-uEuA4czAIU .mbr-section-subtitle {
  text-align: center;
}
.cid-uEuA4czAIU .image-wrapper {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.cid-uEuA4czAIU .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-uEuA4czAIU .content-head {
  max-width: 800px;
}
.cid-uEuA4czAIU .img-box {
  display: flex;
  justify-content: center;
}
.cid-uEuA4czAIU .card-title {
  text-align: center;
}
.cid-uEuA4czAIU .card-text {
  text-align: center;
}
.cid-uEuA4czAIU .link {
  text-align: center;
}
.cid-uEuBIQ9Xza {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-uEuBIQ9Xza img,
.cid-uEuBIQ9Xza .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-uEuBIQ9Xza img,
  .cid-uEuBIQ9Xza .item-img {
    max-height: 300px;
  }
}
.cid-uEuBIQ9Xza .item:focus,
.cid-uEuBIQ9Xza span:focus {
  outline: none;
}
.cid-uEuBIQ9Xza .item-wrapper {
  position: relative;
}
.cid-uEuBIQ9Xza .slide-content {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-uEuBIQ9Xza .slide-content .item-content {
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uEuBIQ9Xza .slide-content .item-content {
    padding: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-uEuBIQ9Xza .slide-content .item-content {
    padding: 1.5rem;
  }
}
.cid-uEuBIQ9Xza .mbr-section-btn {
  margin-top: auto !important;
}
.cid-uEuBIQ9Xza .mbr-section-title {
  color: #232323;
}
.cid-uEuBIQ9Xza .mbr-text,
.cid-uEuBIQ9Xza .mbr-section-btn {
  text-align: left;
}
.cid-uEuBIQ9Xza .item-title {
  text-align: center;
}
.cid-uEuBIQ9Xza .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-uEuBIQ9Xza .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 370px;
  max-width: 370px;
}
@media (max-width: 768px) {
  .cid-uEuBIQ9Xza .embla__slide {
    min-width: 85%;
    max-width: initial;
  }
}
.cid-uEuBIQ9Xza .embla__button--next,
.cid-uEuBIQ9Xza .embla__button--prev {
  display: flex;
}
.cid-uEuBIQ9Xza .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-uEuBIQ9Xza .embla__button {
    display: none;
  }
}
.cid-uEuBIQ9Xza .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-uEuBIQ9Xza .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-uEuBIQ9Xza .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uEuBIQ9Xza .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-uEuBIQ9Xza .embla__button {
    top: auto;
  }
}
.cid-uEuBIQ9Xza .embla {
  position: relative;
  width: 100%;
}
.cid-uEuBIQ9Xza .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-uEuBIQ9Xza .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-uEuBIQ9Xza .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-uEuBIQ9Xza .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .cid-uEuBIQ9Xza .embla__container .embla__slide:first-child {
    margin-left: 2rem !important;
  }
  .cid-uEuBIQ9Xza .embla__container .embla__slide:last-child {
    margin-right: 2rem !important;
  }
}
.cid-uEuBIQ9Xza .content-head {
  max-width: 800px;
}
.cid-uEuGDUwpzM {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-uEuGDUwpzM .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uEuGDUwpzM .item {
    margin-bottom: 1rem;
  }
}
.cid-uEuGDUwpzM .item-wrapper {
  position: relative;
}
.cid-uEuGDUwpzM .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0;
  color: #464845 !important;
  transform: translateX(-50%) translateY(-50%);
  background-color: #edefea !important;
  transition: 0.2s;
}
.cid-uEuGDUwpzM .item-wrapper:hover .icon-wrapper {
  opacity: 1;
}
.cid-uEuGDUwpzM .carousel-control,
.cid-uEuGDUwpzM .close {
  background: #1b1b1b;
}
.cid-uEuGDUwpzM .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-uEuGDUwpzM .carousel-control-prev span {
  margin-right: 5px;
}
.cid-uEuGDUwpzM .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-uEuGDUwpzM .carousel-control-next span {
  margin-left: 5px;
}
.cid-uEuGDUwpzM .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-uEuGDUwpzM .close::before {
  content: '\e91a';
}
.cid-uEuGDUwpzM .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-uEuGDUwpzM .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-uEuGDUwpzM .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uEuGDUwpzM .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-uEuGDUwpzM .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-uEuGDUwpzM .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-uEuGDUwpzM .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-uEuGDUwpzM .carousel-indicators li.active,
.cid-uEuGDUwpzM .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-uEuGDUwpzM .carousel-indicators li::after,
.cid-uEuGDUwpzM .carousel-indicators li::before {
  content: none;
}
.cid-uEuGDUwpzM .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-uEuGDUwpzM .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-uEuGDUwpzM .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-uEuGDUwpzM .carousel-indicators {
    display: none;
  }
}
.cid-uEuGDUwpzM .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-uEuGDUwpzM .carousel-inner > .active {
  display: block;
}
.cid-uEuGDUwpzM .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uEuGDUwpzM .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-uEuGDUwpzM .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-uEuGDUwpzM .carousel-control,
  .cid-uEuGDUwpzM .carousel-indicators,
  .cid-uEuGDUwpzM .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-uEuGDUwpzM .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-uEuGDUwpzM .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-uEuGDUwpzM .carousel-indicators .active,
.cid-uEuGDUwpzM .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-uEuGDUwpzM .carousel-indicators .active {
  background: #fff;
}
.cid-uEuGDUwpzM .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-uEuGDUwpzM .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-uEuGDUwpzM .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-uEuGDUwpzM .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-uEuGDUwpzM .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-uEuGDUwpzM .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-uEuGDUwpzM .carousel {
  width: 100%;
}
.cid-uEuGDUwpzM .modal-backdrop.in {
  opacity: 0.8;
}
.cid-uEuGDUwpzM .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-uEuGDUwpzM .modal.fade .modal-dialog,
.cid-uEuGDUwpzM .modal.in .modal-dialog {
  transform: none;
}
.cid-uEuGDUwpzM .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-uEuGDUwpzM .content-head {
  max-width: 800px;
}
.cid-uEumTWHUbS {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #edefeb;
}
.cid-uEumTWHUbS .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEumTWHUbS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uEumTWHUbS .row .map-wrapper {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uEumTWHUbS .row .map-wrapper {
    margin-top: 1rem;
  }
}
.cid-uEumTWHUbS .google-map {
  height: 100%;
  position: relative;
}
.cid-uEumTWHUbS .google-map iframe {
  height: 100%;
  width: 100%;
}
@media (max-width: 992px) {
  .cid-uEumTWHUbS .google-map iframe {
    min-height: 350px;
  }
}
.cid-uEumTWHUbS .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-uEumTWHUbS .google-map[data-state] {
  background: #e9e5dc;
}
.cid-uEumTWHUbS .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-uEumTWHUbS .card-wrapper {
  padding: 2.25rem;
  background: #ffffff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uEumTWHUbS .card-wrapper {
    padding: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-uEumTWHUbS .card-wrapper {
    padding: 2rem 1.5rem;
  }
}
.cid-uEumTWHUbS ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cid-uEumTWHUbS .content-head {
  max-width: 800px;
}
.cid-tJS9NNcTLZ {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ff0303;
}
@media (max-width: 991px) {
  .cid-tJS9NNcTLZ .container {
    padding: 0 16px;
  }
}
@media (max-width: 767px) {
  .cid-tJS9NNcTLZ .container {
    padding: 0 12px;
  }
}
.cid-tJS9NNcTLZ .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-tJS9NNcTLZ .social-row .soc-item {
  margin: 8px;
}
.cid-tJS9NNcTLZ .social-row .soc-item a:hover .mbr-iconfont,
.cid-tJS9NNcTLZ .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #f7f7f7;
}
.cid-tJS9NNcTLZ .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #ffffff;
  color: #2b7a69;
  transition: all 0.3s ease-in-out;
}
.cid-tJS9NNcTLZ .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tJS9NNcTLZ .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-tJS9NNcTLZ .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-tJS9NNcTLZ .header-menu li p {
  margin: 0;
}
.cid-tJS9NNcTLZ .copyright {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-tJS9NNcTLZ .mbr-section-title {
  color: #ffffff;
}
